[submodule "BlueSTSDK_Analytics"]
	path = BlueSTSDK_Analytics
	url = ssh://gitolite@codex.cro.st.com/bluemesh/BlueSTSDK_Analytics_iOS.git
[submodule "BlueSTSDK"]
	path = BlueSTSDK
	url = https://github.com/STMicroelectronics-CentralLabs/BlueSTSDK_iOS
[submodule "BlueSTSDK_Gui"]
	path = BlueSTSDK_Gui
	url = https://github.com/STMicroelectronics-CentralLabs/BlueSTSDK_GUI_iOS.git
